@import url("https://v1.fontapi.ir/css/SFMono");
@import "tailwindcss";

* {
  font-family: "SF Mono", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.bg-bgmain {
  background-color: #0a192f;
}

.text-neon {
  color: #59e3c5;
}
.text-colorprimary {
  color: #c9d3f3;
}
.text-colorsecondary {
  color: #8892b0;
}

.hover-neon:hover {
  color: #59e3c5;
}

.bg-green-hover:hover {
  background-color: rgb(89, 227, 197, 0.2);
}


@theme{
  --color-green-hover : 'rgba(212, 252, 243,0.2)',
  --color-bgmain : '#0a192f',
  --color-bgcard : '#112240',
  --color-neon : '#64ffda',
  --color-colorprimary : '#ccd6f6',
  --color-colorsecondary : '#8892b0'
}